.header{
    background-color: #1f2937;
    height: 45vh;

}

.header_logoLinks{
    gap: 175px;
    display: flex;
    justify-content: space-around;
    color:white;
}

.header_logo{
    margin-top: 10px;
}

.header_links{
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    padding: 0;
    margin:0;
    margin-top: 10px;
    list-style-type: none;
}

.header_placeHolderImg{
    background-color: grey;
    height: 30vh;
    width: 60vh;
    color: white;
}

.header_presentationImg{
    margin-top: 25px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: unset;
}

.header_presentation{
    box-sizing: border-box;
    width: 50vh;
    height: 40vh;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-content: center;
    flex-wrap: wrap;
}

.header_presentation h1{
    padding: 0;
    margin: 0;
}
.header_presentation h2{
    font-weight: 400;
    font-size: medium;
    margin: 0;
}

.header_button{
    width: 150px;
    height: 30px;
    color: white;
    background-color: rgb(46, 132, 236);
    margin-top: 10px;
}

.firstsquadrantcontent{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color:white;
    height: 45vh;

}
.firstsquadrantcontent h2{
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
    padding: 0;
    margin-top: 40px ;
}

.first_boxes{
    box-sizing: border-box;
    padding: 0;
    display: flex;
    flex: 1;
    justify-content: space-between;
    
    gap: 40px;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-right:300px ;
    padding-left: 300px;
    padding-bottom: 30px;
    
}
.first_insidebox01{
    box-sizing: border-box;
    flex-grow: 1;
    border: 2px, solid, blue;
    margin-left: 5px;
}
.first_insidebox{
    box-sizing: border-box;
    flex-grow: 1;
    border: 2px, solid, blue;
}

.first_flexbox, .first_flexbox02, .first_flexbox03, .first_flexbox04{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;

}

.first_undertext, .first_undertext02, .first_undertext03, .first_undertext04{
    justify-content: center;

}
.first_undertext, .first_undertext02, .first_undertext03, .first_undertext04 p{
    text-align: center;
    text-wrap: wrap;
}

.secondquadrantcontent{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    height: 45vh;
    background-color: lch(92 2.2 266.43);
    padding: 75px 400px 75px 400px
}

#second_firstparagraph{
    font-size:45px;
    font-family:light italic;
    display: flex;
    text-wrap: wrap;
    padding: 0;
    margin: 0;
}

#second_quote{
    padding: 0;
    margin: 0;
    margin-top: 15px;
    display: flex;
    font-size: 36px;
    font-weight: 700;
    font-family:light italic;
    align-content:center;
    justify-content: flex-end;
}


